@font-face{
    font-family: 'lato';
    src:url('police/Lato-Regular.ttf');  
}

body{
    font-family: 'lato';
    display: flex;
    flex-direction: column;
}

/* ---- Mise en page header ------ */
.top-header{
    display: flex;
    justify-content: center;
}

.logo-header{
    height: 10em;
    background-color: white;
    padding: 1em;
    border-radius: 0 0 25px 25px;
    position: relative;
    top: -1em;
    z-index: 2;
    margin-bottom: -3%;
    box-shadow: 0.5em 0.5em 4em black;
}

.nav-header{
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    top : 0;
    right: 5.5%;
}

.ul-nav-header{
    display: flex;
    list-style: none;
}

.li-header{
    display: flex;
}

.emote-header{
    display: flex;
    padding-right: 1em;
    align-items: center;
}

.li-blog{
    padding-left: 2em;
}

/* ---- Mise en page element principal ------ */
.article-principal{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-image: url(images/pexels-christina-morillo-1181605.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 12%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -4%;
    z-index: 1;
}

/* Nav coté gauche */
.nav-candidat{
    display: flex;
    margin-left: -6%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    background-color: white;
    border-radius : 0 25px 25px 0;
    padding: 0.5em;
}

.ul-nav-candidat{
    list-style: none;
}

.entreprise-nav{
    border-top: 0.1em solid #37474F;
    border-bottom: 0.1em solid #37474F;
    padding: 1em 0 1em 0;
}

.agences-nav{
    padding-top: 1em;
}

.emote-nav-princiapal{
    color: white;
    background-color: #0082f4;
    border-radius: 50%;
    padding: 0.7em;
}

/* Titre du site */
.header-principal{
    text-align: center;
    width: 40%;
}

h1{
    font-size: 2.6em;
    font-weight: lighter;
    margin-bottom: 1em;
}
.sous-titre{
    color: white;
    background-color:#0082f4;
    padding: 0.1em 0.7em  0.1em 0.7em ;
    border-radius: 0 25px 0 25px;
}

.categorie-client{
    display: flex;
}

.sous-categorie{
    flex-direction: column;
}

.h2-principal{
    font-size: 1.2em;
    border : 1px solid #0082f4;
}

.h2-principal-candidat{
    border-radius: 50px 0 0 0;
    padding: 0.6em 0 2.2em 0.7em;
    border-right: none;
}

.h2-principal-entreprise{
    border-radius: 0 0 50px 0;
    padding: 0.6em 0.3em 2.2em 0;
}

.h3-principal{
    color: #0082f4;
    background-color: black;
    position: relative;
    bottom: 2em;
    width: 40%;
}

.h3-principal-candidat{
    padding:0.5em  2em 0.5em 2em;
    border-radius: 100px 0 0 100px ;
    margin-left: auto;
}

.h3-principal-entreprise{
    border-left: 1px solid #0082f4;
    margin-right: auto;
    padding:0.5em 2em 0.5em 2em;
    border-radius: 0 100px 100px 0 ;
}

/* Inscription et nav réseau */
.inscription-reseau{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inscription{
    margin-top : 60%;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    display: flex;
    font-weight: bold;
    padding-left: 1em;
    align-items: center;
    color: white;
    background-color:#0082f4;
    border-radius: 100px 0 0 100px;
    position: relative;
    z-index: 2;
    margin-right: -20%;
    box-shadow: 0.5em 0.5em 4em black;
}

.emote-inscription{
    padding-right: 1em;
}

.ul-header-reseau{
    position: absolute;
    list-style: none;
    color: #0082f4;
    bottom: 2em;
}

.emote-reseau-header{
    padding: 0.2em;
}

/* ---- Mise en page Dernières offres ------ */
/* Titre de la rubrique offre */
.header-offre{
    position: relative;
    z-index: 2;
    margin-top: -5%;
    text-align: center;
}

.hp{
    position: relative;
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
    color: #0082f4;
    margin-bottom: -1%;
    z-index: 3;
}

.titre-offre{
    position: relative;
    background-color: white;
    border-radius: 25px;
    padding: 1.3em;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5%;
    z-index: 2;
}

.soulignement-bleu{
    border-bottom: solid 0.2em  #0082f4;
    padding-bottom: 1em;
}

/* Slide Carte des offres */
.slide{
    padding: 0 5% 0 5%;
    overflow: hidden;
    display: flex;
}
.bloc-offre{
    margin: 0 auto;
    text-align: center;
}
.fleche{
    color : #0082f4;
    padding: 1em;
    align-self: center;
    cursor: pointer;
}
.fleche-gauche-offre{
    display: none;
}

/* Carte des offres */
.carte-offre{
    border-radius: 25px;
    box-shadow: 0.2em 0.2em 1em #BDBDBD;
    margin: 1em;
}

.date-offre{
    color:  #0082f4;
}

.descri-offre{
    padding : 1em 2em 1em 2em;
}

.lieu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0082f4;
    border-radius: 25px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 1em;
    padding: 0 1em 0 1em;
}

.lieu-offre{
    padding-right: 1em;
}

.quand{
    width: 40%;
}

.calendrier{
    padding-right: 1em;
}

.ajout-offre{
    color :  #0082f4;
    padding-bottom: 1em;
}
/* sous partie des offres */
.decouverte-offre{
    text-align: center;
}

.autre-offre{
    font-size: 1.1em;
    color: #0082f4;
    border : solid 0.1em  #0082f4;
    border-radius: 25px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.sous-partie-decou{
    color: white;
    display: flex;
    justify-content: center;
    background-color: #0082f4;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    padding : 0 2em 0 2em;
}

.decou-contrat{
    padding-right: 0.2em;
    border-right: solid white 1px;
    letter-spacing: 1px;
}

.decou-decou{
    margin-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
    border : 1px solid white;
    border-radius: 25px;
    padding: 0.4em;
}

/* ---- Mise en page secteur d'activité------ */
.secteur-activite{
    background-image: url(images/1941.jpg);
    background-repeat: no-repeat;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    position: relative;
    padding-bottom: 2em;
    z-index: 1;
}

.titre-secteur{
    color: white;
    margin-bottom: 3em;
    text-align: center;
}

.texte-secteur{
    color: white;
    text-align: center;
}

.image-secteur{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.image-secteur-bis{
    display: flex;
    justify-content: center;
    padding-left: 3em;
}

.emote-secteur{
    height: 4em;
    border-right: solid 1px #0082f4;
    padding-left : 3em;
    padding-right: 3em;
}

.emote-right{
    border: none;
}

/* ---- Mise en page actualités------ */
/*titre actu */
.titre-actu{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
}

.emote-actu{
    color : #0082f4;
    text-align: center;
}
/* bloc actu */
.bloc-actus{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.actu-principal-photo{
    display: flex;
    flex : 4 1 0;
}

.actu-principal{
    position: relative;
    z-index: 1;   
    left : -2em;
    display: flex;
    flex-direction: column;
    padding: 3em;
    padding-top: 0;
    box-shadow: 0.5em 0.5em 4em #BDBDBD;
    border-radius: 0 25px 25px 25px;
    margin-right: 3em;
}
.photo-actu{
    width: 40%;
    height: 70%;
    border-radius: 25px;
    z-index: 2;
    box-shadow: 0.5em 0.5em 4em #BDBDBD;
}

.date-actu{
    color: #0082f4;
}

.toute-actu{
    font-size: 0.9em;
    display: flex;
    margin: auto;
}

.plus-actu{
    color: #0082f4;
    align-self: center;
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
}

.voir-tout{
    color: white;
    background-color: #0082f4;
    border-radius: 100px;
    padding: 0.5em;
    margin-left: 2em;
}

.partage{
    display: flex;
    color: grey;
    margin-left: auto;
}

.texte-partage{
    margin-right: 1em;
    padding-right: 1em;
    border-right: grey solid 1px;
}
.emote-actus{
    padding: 0.2em;
    align-self: center;
}

/* aside actu */
.aside-actu{
    padding-left: 2em;
    padding-top: 0;
    flex: 1 1 0;
    border-left: solid 2px grey;
}

.titre-aside-actu{
    color: #0082f4;
    border: solid 1px #0082f4;
    border-radius: 100px;
    text-align: center;
}

.texte-aside-actu{
    font-size: 0.7em;
    padding-top: 1em;
}

/* ---- Mise en page du Footer------ */
footer{
    display: flex;
    margin: auto;
    margin-top: 5em;
}

.logo-footer{
    height: 10em;
    margin-right: 3em;
}

.adresse-logo{
    font-size: 0.7em;
    font-weight: bold;
}

h5{
    color: grey;
}

.colonne-footer{
    padding-left: 2em;
    padding-right: 2em;
}

.ul-footer{
    border-right: solid 2px #0082f4;
    padding-right: 3em;
    list-style: none;
    padding-left: 0;
}

.sous-li{
    padding-left: 1em;
}

/* nav-barre de droite */
.nav-footer{
    display: flex;
    flex-direction: column;
    color: grey;
    font-weight: bold;
}
.nav-actu-blog-reseau{
    font-size: 0.8em;
    display: flex;
    padding-top: 5em;
}

.ul-actu-blog-reseau{
    list-style: none;
}

.li-actublog{
    display: flex;
}

.emote-footer-actublog{
    align-self: center;
    padding-right: 1em;
}

.detail-actublog{
    color: white;
    background-color: #0082f4;
    padding: 0.2em;
    border-radius: 100px;
    text-align: center;
}

.ul-reseau-footer{
    list-style: none;
    display: flex;
}

.emote-reseau-footer{
    padding-right: 1em;
}

/* ------------- Animations ------------- */
.zoom:hover {
    animation-name : zoom;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    transform: scale(1);
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);            
    }
    70%{
        transform: scale(1.5)
    }
    100%{
        transform: scale(1);            
    }
}

.carte-offre:hover{
    transform: scale(1.04);
}

.black-color:hover {
    transition: 1s;
    color : black;
    background-color:  #0082f4 ;
}

.blue-color:hover {
    transition: 1.2s;
    color : white;
    background-color:  #0082f4 ;
}

.white-color:hover {
    transition: 1s;
    color :  #0082f4;
    background-color: white ;
}

@media screen and (max-width:1590px){
    /* titre-principal */
    .article-principal{
        font-size: 0.9em;
        margin-top: -5%;
    }
    .autre-offre{
        width: 20%;
        padding: 0.3em;
    }
}

@media screen and (max-width:1431px){
    /* titre-principal */
    .logo-header{
        height: 8em;
    }
    .header-principal{
        width: 50%;
    }
    .h2-principal{
        padding-top: 1em;
    }
    .header-offre{
        margin-top: -6%;
    }
    .hp{
        margin-bottom: -2%;
    }
    /* derniere offre */
    .carte-offre{
        width: 30%;
    }
    .quand{
        width: 50%;
    }
    /* actus */
    .bloc-actus{
        width: 90%;
    }
}

@media screen and (max-width:1160px){
    /* titre-principal */
    .nav-candidat{
        font-size: 0.8em;
        align-self: center;
    }
    .article-principal{
        margin-top: -6%;
    }
    .header-principal{
        width: 60%;
    }
    /* derniere offre */
    .header-offre{
        margin-top: -7%;
    }
    .hp{
        margin-bottom: -3%;
    }
    .quand{
        width: 55%;
    }
    footer{
        font-size: 0.8em;
    }
}

@media screen and (max-width:965px){
    /* titre-principal */
    body{
        font-size: 0.9em;
    }
    .logo-header{
        height: 7em;
    }
    /* derniere offre */
    .sous-partie-decou{
        width: 50%;
    }
    /* fotter */
    .colonne-footer{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .ul-footer{
        padding-right: 0.5em;
    }
}

@media screen and (max-width:900px){
    /* titre-principal */
    .article-principal{
        flex-direction: column;
    }
    .nav-candidat{
        border-radius: 25px;
        margin-left: -10%;
        margin-right: auto;
        margin-top: 0;
    }
    .header-principal{
        margin: auto;
        margin-top: -30%;
    }
    .inscription{
        z-index: 1;
        margin-top: 0;
        width: 20%;
        margin-right: -1em;
        margin-left: auto;
    }
    /* derniere offre */
    .header-offre{
        margin-top: -8%;
    }
}

@media screen and (max-width:875px){
    /* titre-principal */
    .article-principal{
        margin-left: 0;
        margin-right: 0;
    }
    .header-principal{
        font-size: 0.8em;
    }
    .nav-candidat{
        margin-left: -5%;
    }
    /* derniere offre */
    .header-offre{
        margin-top: -8%;
    }
    .image-secteur{
        flex-wrap: wrap;
    }
    .image-secteur-bis{
        flex-wrap: wrap;
    }
    .logo-footer{
        margin-right: 0.5em;
    }
}

@media screen and (max-width:790px){
    /* derniere offre */
    .header-offre{
        margin-top: -10%;
    }
    /* actu */
    .bloc-actus{
        flex-direction: column;
    }
    .actu-principal-photo{
        flex: none;
        margin-bottom: 2em;
    }
    .actu-principal{
        margin-right: 0;
    }
    .photo-actu{
        height: 90%;
    }
    .aside-actu{
        border: none;
        text-align: center;
    }
    .texte-aside-actu{
        font-size: 1em;
    }
    /* footer */ 
    .nav-actu-blog-reseau{
        flex-direction: column;
    }
}
@media screen and (max-width:670px){
    /* titre-principal */
    .article-principal{
        margin-top: -10%;
    }
    .h2-principal{
        padding: 1em;
    }
    .nav-candidat{
        margin-left: -7%;
    }
    /* derniere offre */
    .header-offre{
        margin-top: -12%;
    }
    .souli-der-offre{
        border:none;
    }
    .souli-media-offre{
        border-bottom: solid 2px #0082f4;
    }
}

@media screen and (max-width:630px){
    .nav-header{
        right: 1%;
    }
    /* titre-principal */
    .nav-candidat{
        display: none;
    }
    .header-principal{
        margin-top: auto;
        width: 75%;
    }
}

/* ----------- Positionnement pour version mobile -------------*/
@media screen and (max-width:545px){
    /* Header */
    .top-header{
        flex-direction: column;
        position: relative;
    }
    .logo-header{
        top :0;
        z-index: 0;
        margin: auto;
        box-shadow: none;
    }
    .nav-header{
        position: relative;
        z-index: 0;
        margin: auto;
    }

    /* article principal */
    .article-principal{
        z-index: 0;
        top: 0;
        margin: auto;
    }

    .article-principal{
        padding-top: 2em;
    }

    .sous-titre{
        font-size: 0.7em;
    }

    .inscription{
        z-index: 0;
        margin: auto;
        width: 100%;
        text-align: center;
        border-radius: 0;
    }

    .ul-header-reseau{
        position: relative;
        display: flex;
        z-index: 0;
        margin: auto;
        bottom: 0;
        margin-top: 1em;
    }

    /* Dernières offres */
    .article-offre{
        font-size: 0.9em;
    }
    .hp{
        display: none;
    }
    .header-offre{
        margin-top: -5%;
    }
    .titre-offre{
        z-index: 0;
        margin: auto;
        margin-top: 1em;
        font-size: 1.2em;
    }
    .slide{
        flex-direction: column;
        padding-top: 1.5em;
    }
    .carte-offre{
        margin: auto 1em 1em 0;
        width: 100%;
        font-size: 0.9em;
    }
    .quand{
        width: 40%;
    }
    .sous-partie-decou{
        width: 100%;
        border-radius: 0;
        text-align: center;
        padding: 0.2em;
    }

    /* Secteur */
    .souli-secteur{
        border: none;
    }
    .image-secteur-bis{
        display: none;
    }

    /* Actus */
    .titre-actu{
        margin-top: 1em;
    }
    .photo-actu{
        max-width: 30%;
    }
    .actu-principal{
        left: 0;
        padding-right: 1em;
    }
    .aside-actu{
        padding: 0;
    }
    .voir-tout{
        text-align: center;
    }

    /* Footer */
    footer{
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }

    .ul-footer{
        border: none;
    }

    .nav-footer{
        margin: auto;
    }

    .nav-actu-blog-reseau{
        padding-top: 1em;
    }
    .ul-actu-blog-reseau{
        display: flex;
    }

    .ul-actu-blog-reseau li{
        margin-top: 0;
        margin-right: 2em;
        text-align: center;
        align-items: center;
    }

    .detail-actublog{
        align-self: center;
        padding: 0.5em;
    }
    .ul-reseau-footer{
        justify-content: center;
    }
}

@media screen and (max-width:465px){
    .article-principal{
        font-size: 0.8em;
    }
}

@media screen and (max-width:350px){
    .h2-principal{
        font-size: 1.1em;
    }
}